**/.DS_Store
.vscode
.vscode/**
implementations/*/output/**
build/**
implementations/python/**
implementations/python/__pycache__/problem.cpython-310.pyc

implementations/*/benchmark_results.yaml
implementations/*/complexity.json

implementations/python/output.vtk
