**/.DS_Store
.vscode
.vscode/**
implementations/*/output/**
build/**
implementations/python/**
**/*.cpython-*.pyc

implementations/*/benchmark_results.yaml
implementations/*/complexity.json

implementations/python/output.vtk
implementations/cpp_naive/_deps
implementations/cpp_naive/CMakeFiles
implementations/cpp_naive/cmake_install.cmake
implementations/cpp_naive/CMakeCache.txt
implementations/cpp_naive/benchmark
implementations/cpp_naive/main
implementations/cpp_naive/Makefile
