**/.DS_Store
.vscode
.vscode/**
implementations/*/output/**
build/**
implementations/python/**
**/*.cpython-*.pyc

implementations/*/benchmark_results.yaml
implementations/*/complexity.json

implementations/python/output.vtk

env

implementations/cpp_naive/build/**
implementations/cuda_cpp/build/**
implementations/cuda_cpp/main
implementations/cuda_cpp/output_raw/**
